
div.header {
    position: absolute;
    top: 49px;
    left: 380px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
  }

nav ul {
    list-style: none;
    padding: 2;
    margin: 1;
    width: max-content;
}
  
nav ul li {
    display: inline;
}
  
nav ul li a{
    color: #5e5e5e;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 15px;
}

nav ul li a:hover{
    border-bottom: 2px solid black;
    color: black;
    font-weight: bold;
}

.search {
    border: px solid #5e5e5e;
    border-radius: 20px;
    padding: 8px;
    width: 400px;

  }
 
  table {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    table-layout: fixed;
    width: 1100px;  
  }
  .button {
    border: none;
    height: 19px;
    width: 19px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
   .add {
    background-color: black;
    color: white;
    }
    .minus {
    background-color: yellow;
    color: black;
    }
